:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --grey: #2e2f42;
  --green: #31d0aa;
  --lightslate: #8e8f99;
  --dairy: #fcfcfc;
  --navyblue-modal: #2e2f4266;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.page-header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

.logo-link {
  font-size: 0;
  text-decoration: none;
}

.logo,
.studio {
  display: inline-block;

  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.2;

  font-size: 18px;
}

.studio {
  color: var(--navyblue);
  font-weight: 700;
  font-size: 18px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;

  @media screen and (min-width: 1158px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (min-width: 428px) {
    max-width: 428px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1158px) {
    max-width: 1158px;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    height: 70px;
  }
}

/* edited but not yet finished */
.navigation {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

/* not sure about this */
.nav-menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 93px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.nav-menu-page {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;

  color: var(--navyblue);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }
}

.nav-menu-page.current {
  position: relative;
  align-items: center;
}

.nav-menu-page.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}

.nav-menu-page:hover,
.nav-menu-page:focus,
.nav-menu-page.current,
.contacts-menu-contact:hover,
.contacts-menu-contact:focus {
  color: var(--iris);
}

.contacts-menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    align-items: center;
    gap: 40px;
    font-size: 12px;
    text-align: right;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
  }
}

.contacts-menu-contact {
  display: none;

  @media screen and (min-width: 768px) {
    padding: 0;
    display: block;

    color: var(--slate);
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 1158px) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.contacts-menu-item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
    padding: 0;
  }

  @media screen and (min-width: 1158px) {
    margin-bottom: 0;
    padding: 0;
  }
}

.menu-toggle {
}

/* to edit pa */
.hamburger-menu-icon {
  border: none;
  outline: none;
  fill: var(--navyblue);
}

/* to edit pa */
.js-open-menu {
  border: none;
  outline: none;
  background: none;
  fill: var(--navyblue);
}

/* sir ed 2 div.menu-container js-menu-container - div then button

sir ramz 2 div.mobile-menu-container; mobile-container - 3 divs, 2 with name last none */

/* MENU TOGGLE BURGER? WORKSHOP */
/* .menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
} */

/* TL ED's OUTPUT */
/*
.menu-container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 32px;
	background-color: var(--white);
	z-index: 999;

	transform: translate(100%);
	transition: transform 250ms ease-in-out;

	padding: 80px 0 40px 40px;

	@media screen and (min-width: 320px) and (max-width: 375px) {
		padding: 80px 0 40px 10px;
	}
}

.mobile-menu-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.menu-container.is-open {
	transform: translateX(0);
}

.menu-container .menu-toggle {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	color: var(--navyblue);
	border-radius: 50%;
	background-color: var(--cornflower);
	border-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition-property: background-color, border-color, color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus {
	background-color: var(--ocean);
	color: var(--white);
}
.mobile-contact-footer-list {
	display: inline-flex;
	flex-direction: column;
	gap: 40px;
}

.mobile-icons-footer {
	display: flex;
	gap: 56px;
	margin-top: 48px;

	@media screen and (min-width: 320px) {
		gap: 48px;
	}
}

.mobile-tel-footer-item {
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.72px;
	color: var(--iris);
}

.mobile-email-footer-item {
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: var(--slate);
}

.mobile-menu {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}

.mobile-menu-item {
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.72px;
	color: var(--navyblue);
} */

.mobile-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: var(--cornflower);
  color: var(--navyblue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-icon {
  fill: currentColor;
}

.mobile-close:hover,
.mobile-close:focus {
  background-color: var(--ocean);
  color: white;
}

/* Section 1 */
/* need to edit pictures */
.hero-section {
  padding-top: 112px;
  padding-bottom: 112px;
  width: 100%;

  text-align: center;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.78),
      rgba(46, 47, 66, 0.78)
    ),
    url(../images/hero-bg-people-office-m.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.78),
        rgba(46, 47, 66, 0.78)
      ),
      url(../images/hero-bg-people-office-m@2x.jpg);
  }

  /* 768 Tablet */
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.78),
        rgba(46, 47, 66, 0.78)
      ),
      url(../images/hero-bg-people-office-t.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.78),
          rgba(46, 47, 66, 0.78)
        ),
        url(../images/hero-bg-people-office-t@2x.jpg);
    }
  }

  /* Desktop */
  @media screen and (min-width: 1158px) {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.78),
        rgba(46, 47, 66, 0.78)
      ),
      url(../images/hero-bg-people-office-d.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.78),
          rgba(46, 47, 66, 0.78)
        ),
        url(../images/hero-bg-people-office-d@2x.jpg);
    }

    @media screen and (min-width: 1158px) {
      padding-top: 188px;
      padding-bottom: 188px;
    }
  }

  /* @media screen and (min-width: 1158px) {
    padding-top: 188px;
    padding-bottom: 188px;
  } */
}

/* changed okay */
.hero-title {
  margin-bottom: 72px;
  text-align: center;

  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
  }
}

/* kailangan pa i-edit */
.button {
  border-color: transparent;
  font-family: inherit;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

/* kailangan pa i-edit */
.button.primary {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: white;
  background-color: var(--iris);
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
}

/* Section 2 */
/* To edit pa all */
/* .benefits-section {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
} */

/* .benefits-list {
  display: flex;
  row-gap: 72px;
  column-gap: 24px;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: 428px), (min-width: 428px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1158px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.benefits-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  @media screen and (min-width: 1158px) {
    gap: 24px;
    flex-basis: calc(100% / 2 - 18px);
  }
} */

/* flex-basis: calc(100% / 4 - 30px); */
/* margin-left: 30px;
  margin-top: 30px; */

/* .benefits-icon {
  display: none;

  @media screen and (min-width: 1158px) {
    width: 100%;
    height: 112px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--cloud);
  }
} */
/* width: 264px; */
/* height: 120px; */
/* margin-bottom: 30px; */

/* changed not okay */
/* .benefits-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.4px;

  @media screen and (min-width: 728px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 1158px) {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04px;
  }
}

.benefits-description {
  color: var(--slate);
  line-height: 1.71;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;

  @media screen and (min-width: 1158px) {
    font-weight: 400;
  }
} */

/* Benefits Section */
.benefits-list {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  row-gap: 70px;
  column-gap: 18px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
    text-align: left;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    padding-left: 20px;
    padding-right: 20px;
  }
}

.benefits-item {
  display: flex;
  flex-direction: column;

  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    text-align: left;
    align-items: flex-start;
  }
}

/* okay */
.benefits-icon {
  display: none;

  @media screen and (min-width: 1158px) {
    display: flex;
    background: var(--cloud, #f4f4fd);
    width: 100%;
    height: 112px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
}

.benefits-title {
  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.4px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }

  @media screen and (min-width: 1158px) {
    font-size: 20px;
    font-weight: 400px;
  }
}

.benefits-description {
  color: var(--slate);
  line-height: 1.6;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.38px;

  @media screen and (min-width: 1158px) {
    font-weight: 400;
    letter-spacing: 0.1px;
  }
}

/* Section 3 okay */
.what-we-do-title {
  display: none;

  @media screen and (min-width: 1158px) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;

    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
  }
}

.what-we-do-list {
  display: none;

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -30px;
    margin-right: -30px;
  }
}

.what-we-do-item {
  display: none;

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

/* Section 4 */
.section.no-top-padding {
  padding-top: 0;
}

.bg-team {
  background-color: var(--cloud);
}

/* okay? */
.team-section-title {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

/* okay? */
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 72px;

  @media screen and (min-width: 768px) {
    row-gap: 64px;
    column-gap: 24px;
  }

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

/* okay? */
.team-item {
  width: 100%;
  padding-bottom: 32px;
  row-gap: 8px;

  background-color: white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 35px);
  }

  @media screen and (min-width: 1158px) {
    flex-basis: calc(100% / 4 - 40px);
  }
}

.team-item:hover {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1), 1px 2px 2px rgba(0, 0, 0, 0.08),
    1px 2px 2px rgba(0, 0, 0, 0.12);
}

.team-name,
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
}

.social-team {
  padding-top: 10px;

  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-team-link {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  color: var(--cloud);
  background-color: var(--iris);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* svg */
.social-team-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

/* list item */
.social-team-icon-item {
  width: 40px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team-link:hover,
.social-team-link:focus,
.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--green);
}

/* Section 5 */
/* okay */
.partners-section-title {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

/* okay */
.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
  column-gap: 16px;
}

/* okay */
.partners-item {
  /* width: 100%; */
  flex-basis: calc((100% - 18px) / 2);
  height: 90px;

  @media screen and (min-width: 728px) {
    flex-basis: calc((100% - 100px) / 3);
  }

  @media screen and (min-width: 1158px) {
    flex-basis: calc((100% - 125px) / 6);
    flex-wrap: nowrap;
  }
}

/* okay */
.partners-link {
  width: 100%;
  height: 100%;

  border: 1px solid var(--lightslate);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--lightslate);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* okay */
.partners-icon {
  fill: currentColor;
}

.partners-link:hover,
.partners-link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

/* Footer Section */
/* not sure to edit pa */
.page-footer {
  padding-top: 97px;
  padding-bottom: 97px;

  background-color: var(--navyblue);

  @media screen and (min-width: 1158px) {
    /* padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px; */
  }
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
/* @media screen and (min-width: 428px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
} */

/* .footer-container {
	display: block;
	max-width: 100%;

	@media screen and (min-width: 768px) and (max-width: 1157px) {
		margin-left: 24px;
		margin-bottom: 72px;
	}
}

@media screen and (max-width: 768px) {
	.footer-container {
	}
}

@media screen and (min-width: 768px) {
	.logo-wrapper {
		text-align: left;
	}
}  */

.footer {
  @media screen and (min-width: 1158px) {
    /* margin-top: -12px;
    margin-left: -50px;
    align-items: baseline;
    padding: 0; */
  }
}

/* display: block; */
/* justify-content: center;
  text-align: center;
    padding: 0 80px; */

.footer-address {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-wiidth: 1158px) {
    margin-top: 12px;
  }
}

/* margin-left: 25px;
*/

.page-footer-description {
  display: flex;
  justify-content: center;
  text-align: justify;

  color: var(--cloud);
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  padding-top: 17px;
}

.footer-logo-link {
}

.footer-studio-2 {
  color: var(--cloud);

  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
}

.footer-block {
  display: block;
  justify-content: center;
  padding-top: 72px;
  padding-bottom: 72px;

  @media screen and (min-width: 1158px) {
    margin-top: 12px;
    margin-left: 123px;
    gap: 20px;
  }
}

.footer-heading {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;

  color: #fff;
}

/* display: flex;
  justify-content: center;
  text-align: center; */

.social-footer {
  padding-top: 16px;

  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-footer-icon-item {
  width: 40px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  color: var(--cloud);
  background-color: var(--iris);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

/* PORTFOLIO FILTERS */
.substrate {
  background-color: white;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .space + .space {
  margin-left: 8px;
}

.button.filter {
  padding: 6px 22px;

  color: var(--iris);
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;

  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  color: var(--cloud);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project .name {
  margin-bottom: 4px;

  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .type {
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.project-card .description {
  position: relative;
  overflow: hidden;
}

.project-card .text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  color: var(--cloud);
  background-color: var(--iris);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .text {
  transform: translateY(0);
}

/* MODAL  WINDOW*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* added padding as per Mentor Radh */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;

  padding: 72px 24px 24px 24px;

  background-color: var(--dairy);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

/* as per Mentor Radh */
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: var(--cornflower);
  color: var(--navyblue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--ocean);
  color: white;
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

/* HW-06 start */
/* edit magulo */
.footer-form-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: auto;
}

.footer-form-heading {
  color: white;
  font-size: 16px;
  letter-spacing: 0.06em;
}

.footer-form {
  display: block;
  width: 100%;

  @media screen and (min-width: 1158px) {
    display: flex;
    gap: 24px;
  }
}

.footer-form-input {
  width: 100%;
  display: block;
  justify-content: center;

  color: white;
  background-color: transparent;

  padding: 8px;

  font-size: 12px;
  border-radius: 4px;
  border: 1px solid white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 40px;
    margin-bottom: 14px;
    outline: none;
    justify-content: right;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.footer-form-input:hover,
.footer-form-input:focus {
  outline: none;
  border: 1px solid var(--iris);
}

.footer-form-input::placeholder {
  color: white;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 2px 2px;
}

.subscribe-button {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 8px 24px;
  gap: 16px;
  margin-top: 16px;

  border-color: transparent;
  color: var(--cloud);
  background-color: var(--iris);
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1158px) {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 8px 24px;
    gap: 16px;
  }
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--ocean);
}

.subscribe-button-icon {
  fill: white;
}

/* Modal HW-6 */

/* remove margin top as per Mentor Radh */
.modal-title {
  margin-bottom: 34px;
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

/* removed as per Mentor Radh */
.modal-form {
  /* padding: 24px; */
  display: flex;
  flex-direction: column;
}

.form-field {
  position: relative;
  display: block;

  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.form-label {
  position: absolute;
  top: -16px;

  color: var(--lightslate);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
}

/* as per Mentor Radh */
.form-input,
.form-textarea {
  display: block;

  width: 100%;
  /* margin-top: 8px; */
  margin-bottom: 26px;
  padding: 11px 16px 11px 40px;
  border: 1px solid var(--navyblue-modal);
  border-radius: 4px;

  font-size: 12px;
  line-height: 0.87;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* as per Mentor Radh */
.form-textarea {
  padding-left: 16px;
  margin-bottom: 16px;
  resize: none;
}

.form-textarea::placeholder {
  color: var(--navyblue-modal);
  padding-top: 4px;
  font-size: 12px;
}

.footer-form-input:hover,
.footer-form-input:focus,
.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--iris);
  outline: none;
}

.form-field > .icon {
  position: absolute;
  left: 12px;
  top: 20%;
  transform: translateY(-20%);
  fill: var(--navyblue);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input.current,
.form-input.current + .icon {
  border-color: var(--iris);
  fill: var(--iris);
}

.form-input:hover + .icon,
.form-input:focus + .icon {
  fill: var(--iris);
}

/* Checkbox */
/* as per Mentor Radh */
.form-agreement {
  /* margin-top: 8px; */
  margin-bottom: 24px;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: var(--lightslate);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

.form-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  background-color: #eee;
}

.icon-checkmark {
  fill: none;
  border: 2px solid var(--lightslate);
  border-radius: 2px;
  margin-right: 7px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agreement .form-checkbox:checked + .icon-checkmark {
  background-color: var(--ocean);
  border-color: var(--ocean);
  fill: white;
  border: none;
}

.form-privacy {
  color: var(--iris);
}

.modal-send {
  display: block;
  margin: auto;
  padding: 16px 32px;

  width: 170px;

  border-color: transparent;
  color: white;
  background-color: var(--iris);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  border-radius: 4px;
  font-weight: 500px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send:hover {
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* .icon-checkmark::after {
  content:"";
  position: absolute;
  display: none;
}

.form-checkbox:checked + .icon-checkmark:after {
  display: block;
} */

/* .form-agreement > .icon {
  width: 16px;
  height: 16px;
  fill: none;
  margin-right: 8px;

  border: 2px solid var(--lightslate);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* 
.form-agreement .form-checkmark {
  appearance: none;
} */

/* .team-overlay {
  position: relative;
  overflow: hidden;
}

.team-overlay-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  color: var(--cloud);
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .item:hover .team-overlay-text {
  transform: translateY(0);
} */
